.container-background {
	color: white;
	margin-top: 75px;
	border-radius: 0px !important;
	background-color: rgba(0,0,0,0.5);
	padding-top: 25px;
	padding-bottom: 25px; 
	margin-right: 50px;
	margin-left: 50px;
}

.about-me-inner {
	border-radius: 0px !important;
	color: white; 
	padding-top: 25px; 
	padding-bottom: 25px; 
}

@media (min-width: 991px) {
	.about-me-inner {
		border-radius: 0px !important;
		color: white; 
		padding-top: 25px; 
		padding-bottom: 25px; 
		margin-right: 50px; 
		margin-left: 50px;
	}
}

@media (max-width: 768px) {
	.my-photo {
		display: none;
	}
}
