.about-me-inner {
	border-radius: 0px !important;
	color: white; 
	padding-top: 25px; 
	padding-bottom: 25px; 
}

@media (min-width: 991px) {
	.about-me-inner {
		border-radius: 0px !important;
		color: white; 
		padding-top: 25px; 
		padding-bottom: 25px; 
		margin-right: 50px; 
		margin-left: 50px;
	}
}

@media (max-width: 768px) {
	.my-photo {
		display: none;
	}
}

.email-style, .email-style:hover, .email-style:focus, .email-style:visited, .email-style:active {
	color: white; 
	word-wrap: break-word;
}

