.git-button {
	color: #FCFFF5;
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	border-radius: 10px;
}
.git-button:hover {
	background-color: white;
	color: black;
}

.code-container {
	display: none;
}