body{
	color: #193441;
	font-family: Times New Roman, serif; 
}

.container-top{
	padding-top: 100px;
	padding-bottom: 50px;
	background: #D1DBBD;
	text-align: center;
}

.icon-size{
	font-size: 128px;
}

.nav-container-style{
	border-bottom: 1px solid #91AA9D; 
}

a.about{
	display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
a.resume{
	display: block;
    position: relative;
    top: -71px;
    visibility: hidden;
}
a.contact{
	display: block;
    position: relative;
    top: -71px;
    visibility: hidden;
}

nav{
	text-align: center;
	background-color: #193441;
	font-weight: bold;
}

nav ul{
	margin: 0;
	padding: 0;
	display: inline-flex;
	list-style: none;
	background-color: #193441;
}

nav li{
	padding-right: 0;
	display: inline-block;
	border-left: 1px solid #91AA9D;
}
nav li:last-child{
	border-right: 1px solid #91AA9D;
}
nav li a, nav li a:visited{
	display: block;
	padding: 25px 30px 25px 30px;
	text-decoration: none;
	color: #FCFFF5;
}
nav li a:hover{
	color: #D1DBBD;
	text-decoration: none;
}
nav li a:active{
	color: #FCFFF5;
}

hr.custom-hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.container-about{
	padding-top: 50px;
	padding-bottom: 75px;
	background-color: #3E606F;
	color: #FCFFF5;
	text-align: center;
}

.container-resume{
	padding-top: 50px;
	padding-bottom: 75px;
	background-color: #FCFFF5;
}

.resume-header{
	padding-bottom: 50px;
	text-align: center;
}

.title{
	font-weight: bold;
}

.sub-title{

}

.date-there{

}

.container-contact{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #D1DBBD;
	text-align: center;
}

.container-code{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #193441;
	color: #FCFFF5;
	text-align: center;
}

.git-button{
	color: #FCFFF5;
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	border-radius: 25%;
}
.git-button:hover{
	background-color: #3E606F;
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	border-radius: 25%;
}
