@import url("normal.css");
@import url("about.css");
@import url("code.css");
@import url("nav.css");
@import url("resume.css");

@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
	font-family: 'Roboto', sans-serif;
	background: url('../imgs/background.jpg')no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
	overflow: scroll;
}

.container-background {
	color: white;
	margin-top: 75px;
	border-radius: 0px !important;
	background-color: rgba(0,0,0,0.5);
	padding-top: 25px;
	padding-bottom: 25px; 
	margin-right: 50px;
	margin-left: 50px;
}

.title {
	font-weight: bold;
	font-size: 24px;
}

.information {
	font-size: 18px;
}