@import url("normal.css");
@import url("about.css");
@import url("code.css");
@import url("nav.css");
@import url("resume.css");

@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
	font-family: 'Roboto', sans-serif;
	background: url('../imgs/background.jpg')no-repeat center center fixed; 
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
 	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
	overflow: scroll;
}

.container-background {
	color: white;
	margin-top: 75px;
	border-radius: 0px !important;
	background-color: rgba(0,0,0,0.5);
	padding-top: 25px;
	padding-bottom: 25px; 
	margin-right: 50px;
	margin-left: 50px;
}

@media(max-width: 767px) {
	body {
		background: #8FBC8F;
	}

	.container-background {
		color: white;
		margin-top: 40px;
		border-radius: 0px !important;
		background-color: rgba(0,0,0,0.5);
		padding-top: 25px;
		padding-bottom: 25px; 
		margin-right: 0px;
		margin-left: 0px;
		min-height: 100vh;
	}
}

.bump {
	padding-top: 20px;
}

.title {
	font-weight: bold;
	font-size: 24px;
}

.information {
	font-size: 18px;
}