@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

nav a {
	color: white !important;
}

@media (min-width: 768px) {
	nav li:first-child {
		border-left: 1px solid white;
		width: 100px !important;
	}
	nav li {
		border-right: 1px solid white;
		width: 100px !important;
	}
}

nav a:hover {
	color: white !important;
	background: black !important;
}