.container-resume{
	padding-top: 50px;
	padding-bottom: 75px;
	background-color: #FCFFF5;
}

.resume-header{
	padding-bottom: 50px;
	text-align: center;
}

.title{
	font-weight: bold;
	font-size: 24px;
}

.sub-title{
	font-size: 18px;
}

.information{
	font-size: 18px;
}

.date-there{
	line-height: 35px;
	font-size: 18px;
	letter-spacing: 1px;
}

.resume-hr{
	margin-top: 50px;
	margin-bottom: 50px;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc)
}