.resume-header{
	padding-bottom: 50px;
	text-align: center;
}

.title{
	font-weight: bold;
	font-size: 24px;
}

.sub-title{
	font-size: 18px;
}

.information{
	font-size: 18px;
}

.date-there{
	line-height: 35px;
	font-size: 18px;
	letter-spacing: 1px;
}

.resume-container {
	display: none;
}